--index-url https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple
--extra-index-url http://172.20.61.88:8080/simple/
--trusted-host 172.20.61.88


annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
loguru==0.7.2 ; python_version >= "3.10" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.10" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
pydantic-core==2.20.1 ; python_version >= "3.10" and python_version < "4.0"
pydantic==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
pytest==8.3.2 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "4.0"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"

pytest~=8.3.5
loguru~=0.7.3
paho-mqtt~=2.1.0
pydantic~=2.11.1
typing_extensions~=4.13.0
pillow~=11.1.0
requests~=2.32.3
Deprecated~=1.2.18
filelock~=3.18.0
shortuuid~=1.0.13
redis~=5.2.1
Twisted~=24.11.0